body{
    font-family: Tahoma;
}
*:before{
    box-sizing: border-box;
}
.container{
    width:1200px
}
.width_common{
    width: 100%;
    float: left;
}
#wrapper_container{
    background-color: #f2f1f6;
    margin-bottom: 0;
}
#profile_page{
    padding-top: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}
.avata_profile{
    width: 50px;
   heigt: 50px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;

}
.block_menu_profile{
    background-color: #fff3cd;
}
.space_bottom_20{
    margin-bottom: 20px;
}
.block_info_profile{
    padding: 15px 20px;
    border-bottom: 1px solid #f7f7f7;
}
.item_address, .block_info_account{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}
img{
    border: 0px;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
.txt_color_1{
    color: #0360f5;
}
.txt_666 {
    color: #666;
}
.col-sm-3{
    float: left;
    width: 25%;
}
img{
    vertical-align: middle;
}
.container:before,#profile_page:before, .row:before, .row:after{
    content: " ";
    display: table;
}
#box_account_info, #box_latest_order, #box_address{
    padding: 10px 20px 20px 20px;
    background: #fff;
    margin-bottom: 0;
    width: 100%;
    float: left;
}
#wrapper_container.width_common{
    margin-top: 150px;
}
.title_profile_page {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.title_profile_page .txt_seemore{
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 13px;
    font-weight: 400;
}
.tb_latest_order{
    width: 100%;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
table{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.tb_latest_order td{
    padding: 7px 10px;
    border-bottom: 1px solid #e5e5e5;
    width: 20%;

}
.tb_latest_order thead td{
    background-color: #f7f7f7;
    font-weight: 700;
}
a:visited, a{
    color: #222831;
    text-decoration: none;
    outline: 0;
}
.text-center{
    text-align: center;
}
.item_status_order{
    background-color: #023586;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    width: 110px;
    text-align: center;
}
.relative{
    position: relative;
}
.space_bottom_5{
    margin-bottom: 5px;
}
b,strong{
    font-weight: bold;
}
.block_infor_account, .txt_seemore{
    position: absolute;
    right: 10px;
    top: 10px;
}
.hidden{
    display: none!important;
}
input, button, select, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
}
.cking_info label{
    vertical-align: middle;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    padding-top: 3px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.cking_info label input{
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}
input[type="checkbox"]{
    vertical-align: middle;
    display: inline-block;
    margin-top: 2px;
    margin-right: 4px;
}
.space_bottom_10{
    margin-bottom: 10px;
}
.slogan_footer{
    padding: 40px;
}