
.flex-control-nav{
    display: block;
}
.wow.fadeInUp{
    animation-name: none;
    animation-delay: unset;
}
h1.slideInDown{
    color: #283655;
}

.col-md-3{
    float: left;
}
.item_slogan{
    font-size: 26px;
    color: #0c4128;
}
.item_slogan img{
    width: 100px;
    height: 100px;
}